@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to the Dojo Activity Center</h1>

<div class="row justify-content-around">
    <partial name="_Registration"></partial>
    <partial name="_Login"></partial>
</div>